@font-face {
  font-family: 'OpenSans';
  font-weight: normal;
  font-style: normal;

  src: url(../sources/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;

  src: url(../sources/fonts/OpenSans-Bold.ttf);
  font-wight: bold;
}


.ta-right {
  text-align: right;
}

html {
  font-family: 'Open Sans';
  font-size: 100%;

  margin: 0;
}

body {
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
}



.header {
  position: relative;

  height: 100vh;
  padding-top: 33px;

  color: #fff;
  background-color: #090c35;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  display: flex;      
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.header::before {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';

  opacity: 0.92;
  background-color: #090c35;
}


.logo {
  position: relative;
  z-index: 1;

  margin: 0 auto 0;
}

.header__text {
  font-family: 'Open Sans';
  font-size: 1.75rem;
  line-height: 31.32px;

  position: relative;
  z-index: 1;

  margin-top: 136px;

  letter-spacing: 1.54px;
  text-transform: uppercase;

}

.header__text :first-child {
  margin-bottom: 30px;
}


.download-button {
  position: relative;
  z-index: 1;

  display: flex;

  margin-right: auto;
  margin-left: auto;

  border-radius: 17px;
  background-color: #5e42b0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button__text {
  font-family: Open Sans;

  text-transform: uppercase;
}

.store-name {
  font-weight: bold;
}

@media (max-width: 640px) {
  .header {
    background-image: url(../sources/img/football_767.jpg);
  }

  .logo {
    width: 133px;
  }

  .header__text {
    margin-right: 42px;
    margin-left: 20px;
  }

  .header__text__second {
  	margin-left: auto;
  	width: 218px;
  	letter-spacing: 1.4px;
  }

  .header__buttons {
  	margin-top: auto;
  	margin-bottom: 92px;
  }

  .download-button {
    font-size: .5rem;

    width: 100%;
    max-width: 280px;
    height: 35px;
    margin-bottom: 14px;
  }

  .button__logo {
    width: 20px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .logo {
    width: 205px;
  }

  .header__text {
    margin-right: 42px;
    margin-left: 20px;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  .logo {
    width: 191px;
  }

  .header__text {
    margin-right: 42px;
    margin-left: 20px;
  }
}