@font-face {
	font-family: 'OpenSans';
	font-weight: normal;
	font-style: normal;

	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;

	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: 700;
}

html {
	font-family: "Open Sans";
	font-size: 100%;
}

body {
	margin: 0;
}

*, :before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	background-color: #0a0e34;
	height: 100vh;
	color: #fff;
	position: relative;
	background-position: top center;
}

.header::before {
	content: "";
	background-color: #0a0e34;
	position: absolute;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	opacity: 0.93;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	position: relative;
}

.header__text {
	z-index: 1;
	position: relative;
	text-transform: uppercase;
	margin: 0;
}

.header__buttons {
	position: absolute;
}

.download-button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #5e42b0;
	-ms-align-items: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.bold {
	font-weight: bold;
}

@media (max-width: 640px) {
	.header {
		background-image: url(../img/football_767.jpg);
		padding-top: 6%;
	}

	.logo {
		width: 133px;
		margin-bottom: 24vh;
	}

	.header__text {
		font-size: 1.75rem;
	}

	.header__text :first-child{
		margin-left: 6.25%;
		margin-bottom: 5vh;
		letter-spacing: 1.54px;
	}

	.header__text :last-child {
		margin-left: 20%;
		margin-right: 6.25%;
		letter-spacing: 1.4px;
	}

	.header__buttons {
		bottom: 14.7vh;
		right: 6.25%;
		left: 6.25%;
	}

	.header__buttons .download-button:first-child {
		margin-bottom: 14px;
	}

	.download-button {
		height: 35px;
		border-radius: 17px;
		font-size: 0.5rem;
	}

	.button__logo {
		width: 20px;
		margin-right: 8px;
		margin-left: 29%;
	}
}


@media (max-height: 480px) {
	.logo {
		margin-bottom: 33px;
	}

	.header__text {
		margin-bottom: 112px;
	}

	.header__buttons {
		bottom: 14px;
	}
}

@media (min-width: 641px) and (max-width: 960px) {
	.header {
		background-image: url(../img/football_1280.jpg);
		padding-top: 45px;
	}

	.logo {
		width: 205px;
		margin-bottom: 181px;
	}

	.header__text {
		font-size: 4rem;
	}

	.header__text :first-child{
		margin-left: 11.7%;
		margin-bottom: 29px;
		letter-spacing: 3.52px;
	}

	.header__text :last-child {
		margin-left: 25.3%;
		margin-right: 70px;
		letter-spacing: 3.2px;
	}


	.header__buttons {
		bottom: 9.4vh;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		justify-content: center;
		width: 100%;
	}

	.header__buttons .download-button:first-child {
		margin-right: 30px;
	}

	.download-button {
		height: 77px;
		width: 311px;
		border-radius: 156px;
		font-size: 0.875rem;
		box-shadow: 8px 14px 24px #0a0e34;
	}

	.apple-logo {
		width: 36px;
		margin-right: 28px;
		margin-left: 41px;
	}

	.gp-logo {
		width: 41px;
		margin-right: 28px;
		margin-left: 57px;
	}
}

@media (min-width: 961px) {
	.header {
		background-image: url(../img/football_1920.jpg);
		padding-top: 40px;
	}

	.logo {
		width: 191px;
		margin-bottom: 27vh;
	}

	.header__text {
		font-size: 8.3vh;
	}

	.header__text :first-child{
		margin-left: 10%;
		margin-bottom: 25px;
		letter-spacing: 4.96px;
	}

	.header__text :last-child {
		margin-right: 10%;
		letter-spacing: 4.5px;
		text-align: right;
	}

	.header__buttons {
		bottom: 5.7vh;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		justify-content: center;
		width: 100%;
	}

	.header__buttons .download-button:first-child {
		margin-right: 50px;
	}

	.download-button {
		height: 77px;
		width: 311px;
		border-radius: 156px;
		font-size: 0.875rem;
		box-shadow: 8px 14px 24px #0a0e34;
	}

	.apple-logo {
		width: 42px;
		margin-right: 24px;
		margin-left: 38px;
	}

	.gp-logo {
		width: 40px;
		margin-right: 29px;
		margin-left: 57px;
	}
}